#botones{
    float:right;
    margin: 7px;
    padding: 4px;
     height: 67px;

}
.barra{background-color: aqua;
    
}
.ins{align-content: center;
    
    
}
.container-fluid{background-color: aqua;}




.d-inline-block align-text-top{text-align: center;
    
}